@model WebApp.ViewModels.EnderecoViewModel

@{
    ViewData["Title"] = "EditarEnd";
}

<form action="Editar" method="post">
    <input name="Id" hidden value="@Model.Id" />
    <label>Rua</label>
    <input type="text" name="Rua" value="@Model.Rua" />
    <label>Bairro</label>
    <input type="text" name="Bairro" value="@Model.Bairro" />
    <label>Cep</label>
    <input type="text" name="Cep" value="@Model.Cep" />
    <label>Numero</label>
    <input type="text" name="Numero" value="@Model.Numero" />
    <button type="submit">Salvar</button>
</form>